{% extends 'adminlte/base.html' %}
{% block title %}Trainer List{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Trainer List</h3>

            <div class="card-tools">
                <div class="input-group-append">

                    <a href="{% url 'fithub_trainer_create' %}">
                        <button class="btn btn-primary">
                            Add Trainer
                        </button>
                        </a>
                    </div>
                {% comment %}<div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>{% endcomment %}
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>UserName</th>
                    <th>Name</th>


                </tr>
                </thead>
                <tbody>
                {% for trainer in gym_trainer %}
                <tr>
                    <td>{{ trainer.user.username }}</td>
                    <td>{{ trainer.user.get_full_name}}</td>
                {% comment %}{% if request.user|is_trainer or request.user|is_administrator %}{% endcomment %}

                    <td><a href="{% url 'fithub_trainer_update' trainer.id %}" type="button" class="btn btn-block btn-primary"><i class="fas fa-edit"></i>Update</a></td>
                    <td><a href="{%  url 'fithub_trainer_delete' trainer.id %}" type="button" class="btn btn-block btn-danger"><i class="fas fa-trash"></i>Delete</a></td>
              {% comment %}  {% endif %}{% endcomment %}
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}